body {
    background-color: #f0ffff;
    color: #066666;
    width: 500px;
    margin-right: auto; /* 両方autoにすると大体真ん中に来る*/
    margin-left: auto;
}

button {
    padding: 5px 7px;
    background-color: #066666;
    color: rgb(255, 255, 255);
    border-style: none;
}

input {
    height: 23px;
    border-style: dashed;
}